Source: calypso
Section: web
Priority: extra
Maintainer: Debian Calypso Maintaners <calypso-maint@lists.alioth.debian.org>
Uploaders: Keith Packard <keithp@keithp.com>,
 Jelmer Vernooĳ <jelmer@jelmer.uk>,
 Guido Günther <agx@sigxcpu.org>
Build-Depends: debhelper (>= 8.0.0), python (>= 2.7), python-setuptools, python-vobject, python-daemon, python-lockfile
Standards-Version: 3.9.7
Homepage: http://keithp.com/calypso
X-Python-Version: >= 2.7
XS-Testsuite: autopkgtest

Package: calypso
Architecture: all
Depends: ${misc:Depends}, python (>= 2.7), python-vobject, python-daemon, python-lockfile, git
Description: CalDAV/CardDAV server with git backend
 Calendar and contacts server storing iCal and vCard files in git
